h1
{
  text-align: center;
}

legend
{
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}
fieldset p
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
fieldset p input
{
  padding: 3px 0px 3px 0px;
}
fieldset p label
{
  padding: 10px 0px 10px 0px;
}
