*
{
	margin: 0;
	padding: 0;
}
#page
{
	width: 80%;
	margin: auto;
	border: 2px solid black;
	border-radius: 5px;
}
section
{
	margin: 20px 0px 20px 0px;
}
h1
{
	text-align: center;
	font-weight: bold;
	font-style: italic;
	text-decoration: underline;
}
form
{
	width: 100%;
}
form fieldset p
{
	margin: 5px 0px 5px 0px;
}
form fieldset p label
{
	margin-right: 5px;
}
#valider
{
	display: flex;
	justify-content: center;
}
#submit
{
	border-radius: 7px;
	padding: 3px;
}