body {
  background: #4F64FF;
  background: -webkit-linear-gradient(right, #4F64FF, #FA5882);
  background: -moz-linear-gradient(right, #4F64FF, #FA5882);
  background: -o-linear-gradient(right, #4F64FF, #FA5882);
  background: linear-gradient(to left,#4F64FF, #FA5882);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
    font-family: 'Noto Sans', sans-serif;
}

th {
    height: 30px;
    text-align: center;
    font-weight: 700;
    background: white;
}

td {
    height: 100px;
    background: white;
}

.today {
    background: #4F64FF;
    background: -webkit-linear-gradient(right, #4F64FF, #FA5882);
    background: -moz-linear-gradient(right, #4F64FF, #FA5882);
    background: -o-linear-gradient(right, #4F64FF, #FA5882);
    background: linear-gradient(to left,#4F64FF, #FA5882);
}

/*th:nth-of-type(7),td:nth-of-type(7) {
    color: #FA5882;
}

th:nth-of-type(1),td:nth-of-type(1) {
    color: #4F64FF;
}*/ 